@CHARSET "ISO-8859-1";

body{
	background-image: url('/common/static/img/fundo.jpg');
	background-repeat: repeat-x;
	background-position: 35px 35px;
	background-color: #ffcc2a;
}

.form-titulos {
	color: #f58634;
	font-weight: bold;
	font-size: 18px;	
}
