{% extends "home.html" %}

{% block nav %}
	{{ navbar("REUNIAO") }}
{% endblock %}

{% block conteudo %}
<div class="container">
	<h1>Meus dados</h1>
	<form class="form-horizontal" action="{{atualizar_url}}" method="post">
		
		<div class="control-group">
		    <label class="control-label form-titulos" for="nome">Nome</label>
		    <div class="controls">
		    	<input type="text" class="input-xxlarge" value="{{usuario.name}}" name="nome" placeholder="Seu nome" />
		    </div>
		</div>
		
		<div class="control-group">
		    <label class="control-label form-titulos" for="empresa">Empresa</label>
		    <div class="controls">
		    	<input type="text" class="input-xxlarge" value="{{usuario.empresa}}" name="empresa" placeholder="Sua empresa" />
		    </div>
		</div>	
		
		<div class="control-group">
		    <label class="control-label form-titulos" for="funcao">Cargo</label>
		    <div class="controls">
		    	<input type="text" class="input-xxlarge" value="{{usuario.funcao}}" name="funcao" placeholder="Seu cargo" />
		    </div>
		</div>	
		
		<div class="control-group">
			<div class="controls">	
				<input class="btn btn-large btn-warning" type="submit" value="Atualizar cadastro" ></input>
			</div>
		</div>
	</form>
</div>
{% endblock%}