{% extends "home.html" %}

{% block nav %}
	{{ navbar("REUNIAO") }}
{% endblock %}

{% block conteudo %}

<div class="row">		
	

	<div class="span12">
		<h1>Acompanhar</h1>
		<p><strong>Título da Reunião:</strong> {{reuniao.titulo}}</p>
		<p><strong>Assunto:</strong> {{reuniao.assunto}}</p>
		<p><strong>Data e Horário:</strong> {{reuniao.datahora}}</p>
	</div>
	
	{% if conv %}
	
	<div class="span12">
	<table class="table">
	  <thead>
	    <tr>
	      <th style="width: 240px;">Convidado</th>
	      <th style="width: 720px;">Resposta</th>
	      <th style="width: 80px;">&nbsp;</th>
	    </tr>
	  </thead>
	  <tbody>
			{% for c in conv %}
			<tr>	  	
			<td >
				<p><strong>{{c.nome}}</strong><br />{{c.email}}</p>
			</td>
			<td >
				<p>{% if c.resposta %} {{c.resposta}} {% else %} Aguardando resposta {% endif %}</p>
			</td>
			<td>
				{{'<img src="../static/img/iconAguardando.png" />' if c.situacao == 0}}
				{{'<img src="../static/img/iconTalvez.png" />' if c.situacao == 1}}
				{{'<img src="../static/img/iconConfirmado.png" />' if c.situacao == 2}}
				{{'<img src="../static/img/iconNaoVai.png" />' if c.situacao == 3}}
			</td>
			</tr>
			{% endfor %}  						
	  </tbody>
	</table>
	</div>
	
	{% else %}
	
	<h2>Nenhum convidado cadastrado</h2>
	
	{% endif %}
	
</div>

{% endblock %}