{% extends "home.html" %}

{% block nav %}
	{{ navbar("REUNIAO") }}
{% endblock %}

{% block conteudo %}

<div class="row">
			
	<div class="span12">
	<h1>Novo Convite</h1>
	
	<form action="{{salvar_url}}/{{idR}}" method="post">
		<div class="row">
			<div class="span3"><p>Nome:</p></div>		
			<div class="span5"><p>Email:</p></div>
		</div>
		
		<div class="row">
	  		<div class="span3"><input type="text" class="span3" name="nome" /></div>	  	
	  		<div class="span5"><input type="text" class="span5" name="email" /></div>
	  	</div>		  
	  	  
	  	<button type="submit" class="btn btn-warning">Convidar</button>
	</form>	
	
	<h1>Convidados</h1>
	
	{% if conv %}
	
		<table class="table">
			<thead>
				<tr>
					<th>Convidado</th>
					<th>Email</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
	  		
		{% for c in conv %}
		
		
		<tr>	  	
			<td style="width: 450px;">
				<p><strong>{{c.nome}}</strong></p>
			</td>
			<td style="width: 600px;">
				<p>{{c.email}}</p>
			</td>	  		
			<td style="width: 130px;">
	 			<p>	 			
	 			<a href="enviarconvite/{{c.key.id()}}" class="btn btn-warning"><i class="icon-envelope icon-white"></i></a>
				<a href="excluir/{{c.key.id()}}" class="btn btn-warning"><i class="icon-trash icon-white"></i></a>	 			
	 			</p>
	 		</td>	  			 
		</tr>		
		
		{% endfor %}
			</tbody>
		</table>
	
	{% else %}

	<h2>Nenhum convidado cadastrado</h2>
	
	{% endif %}
		
	</div>
	
</div>

{% endblock %}