{% extends "home.html" %}

{% block head %}

	<link rel="stylesheet" type="text/css" href="/reuniao/static/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/reuniao/static/css/jquery-ui-timepicker-addon.css">

	<script type="text/javascript" src="/reuniao/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/reuniao/static/js/jquery-ui-timepicker-addon.js"></script>
	<script type="text/javascript" src="/reuniao/static/js/jquery-ui-sliderAccess.js"></script>
	
	<script type="text/javascript">
		jQuery(function() {		  
			$('#quando').datepicker({
					dateFormat: 'dd/mm/yy',
			});
			
			$('#horario').timepicker({
					timeFormat: 'hh:mm',
					stepHour: 1,
					stepMinute: 10,
					timeOnlyTitle: 'Ecolha o horário',
					timeText: '',
					hourText: 'Hora',
					minuteText: 'Minuto',
					secondText: 'Segundo',
					currentText: 'Atual',
					closeText: 'Fechar'
			});
			
			$.datepicker.regional['br'] = {
					closeText: 'Fechar',
					prevText: 'Anterior',
					nextText: 'Próximo',
					currentText: 'Atual',
					monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho',
					'Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
					monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun',
					'Jul','Ago','Set','Out','Nov','Dez'],
					dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
					dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
					dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
					weekHeader: 'Не',
					dateFormat: 'dd/mm/yy',
					firstDay: 1,
					isRTL: false,
					showMonthAfterYear: false,
					yearSuffix: ''
				};
				$.datepicker.setDefaults($.datepicker.regional['br']);				
			 
		});
	</script>
	

{% endblock %}	

{% block nav %}
	{{ navbar("REUNIAO") }}
{% endblock %}

{% block conteudo %}

<div class="row">
			
	<div class="span12">
	<h1>Nova reunião</h1>

	<form class="form-horizontal" action="{{atualizar_url}}/{{u.key.id()}}" method="post">

	  <div class="control-group">
	    <label class="control-label form-titulos" for="titulo">Título</label>
	    <div class="controls">
	      <input type="text" id="titulo" name="titulo" value="{{u.titulo}}" placeholder="Título da reunião" />
	    </div>
	  </div>	 
	  
	  <div class="control-group">
  		<label class="control-label form-titulos" for="inputEmail">Quando?</label>
		<div class="controls">
             <input type="text" id="quando" name="quando" value="{{u.datahora.day}}/{{u.datahora.month}}/{{u.datahora.year}}" placeholder="Data da reunião" />
           </div>
       		  </div>
	  	  
	  
	  <div class="control-group">
	    <label class="control-label form-titulos" for="inputEmail">Que horas?</label>
	    <div class="controls">	    	   
	      <input type="text" id="horario" name="horario" value="{{u.datahora.hour}}:{{u.datahora.minute}}" placeholder="Horário da reunião" />
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label form-titulos" for="inputEmail">Onde?</label>
	    <div class="controls">
	      <input type="text" id="onde" name="onde" value="{{u.onde}}" placeholder="Local da reunião" />
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label form-titulos" for="inputEmail">Assuntos?</label>
	    <div class="controls">
	      <textarea rows="6" id="assunto" name="assunto" placeholder="Pauta da reunião">{{u.assunto}}</textarea>
	    </div>
	  </div>	
	  
	  <input type="hidden" name="id" value="{{u.key.id()}}" />			  


	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-large btn-warning"><i class="icon-arrow-right icon-white"></i> Atualizar</button>
	    </div>
	  </div>
	</form>
	
	</div>

</div>

{% endblock %}