{% extends "home.html" %}

{% block nav %}
	{{ navbar("REUNIAO") }}
{% endblock %}

{% block conteudo %}

<div class="row">
		
	<div class="span12">
	<h1>Minhas reuniões ({{cont}})</h1>
	
	<div class="row">
		<div class="span2">
		<a href="\reuniao\nova\" class="btn btn-block btn-warning">Nova Reunião</a>
		</div>
		
		<div class="span2">
		<a href="\usuario\meusdados" class="btn btn-block btn-warning">Meus dados</a>
		</div>		
	
		<div class="span6">
		<form class="form-search" action="\reuniao\busca\" method="get">
		  <div class="input-append">
		    <input type="text" name="busca" class="span6 search-query">
		    <button type="submit" class="btn btn-warning">Buscar Reunião</button>
		  </div>
		</form>
		</div>
		
	</div>
	
	{% if reunioes %}
	
	<div class="well well-small">
		<i class="icon-signal icon-orange"></i> Acompanhar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i class="icon-user icon-orange"></i> Convite&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i class="icon-pencil icon-orange"></i> Editar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i class="icon-trash icon-orange"></i> Cancelar
	</div>	
	
	<table class="table">
	  <thead>
	    <tr>
	      <th width="890">Dados</th>
	      <th width="50"></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for r in reunioes %}
	    <tr>	  	
	  		<td>	  			
	  			<h2>{{r.titulo}}</h2>
		  		<p>
		  			{{r.datahora}}<br />
		  			<strong>Assunto:</strong> {{r.assunto}}
	  			</p>
	  		</td>
	  		<td>
	  			<p style="margin-bottom: 5px;"><a href="/reuniao/acompanhamento/{{r.key.id()}}" class="btn btn-warning"><i class="icon-signal icon-white"></i></a></p>
	  			<p style="margin-bottom: 5px;"><a href="/reuniao/convidados/{{r.key.id()}}" class="btn btn-warning"><i class="icon-user icon-white"></i></a></p>
	  			<p style="margin-bottom: 5px;"><a href="/reuniao/editar/{{r.key.id()}}" class="btn btn-warning"><i class="icon-pencil icon-white"></i></a></p>
	  			<p><a href="/reuniao/deletar/{{r.key.id()}}" class="btn btn-warning"><i class="icon-trash icon-white"></i></a></p>	  			
	  		</td>
	  			  
		</tr>
		{% endfor %}
	  </tbody>
</table>
{% else %}

<h2>Nenhuma reunião cadastrada</h2>

{% endif %}
	
	
	
	
	</div>
	
</div>

{% endblock %}