<html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Projeto Minha Reunião</title>
	<link rel="stylesheet" type="text/css" href="/common/static/css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" href="/home/static/css/base.css" media="all">
	<link rel="shortcut icon" href="/common/static/img/favicon.ico" type="image/x-icon">
	<script src="/common/static/js/jquery-1.8.0.min.js"></script>
	<script src="/common/static/js/bootstrap.js"></script>	
	{% block head %}
	
	{% endblock %}	
		
</head>
<body>
	
	{% macro navbar(selected="")%}
	<div id="head" class="special">
		<div class="navbar navbar-static-top">			
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li {{'class="active"' if selected == ""}}><a href="\">Home</a></li>											
						<li {{'class="active"' if selected == "OQUE"}}><a href="\oque">O que é?</a></li>
						<li {{'class="active"' if selected == "COMO"}}><a href="\como">Como funciona?</a></li>
						<li {{'class="active"' if selected == "REUNIAO"}}><a href="\reuniao">Minhas reuniões</a></li>
						<li {{'class="active"' if selected == "CONTATO"}}><a href="\contato">Contato</a></li>
					</ul>
					<span id="saudacao" class="pull-right">
						{% if login_url %}
							<a href="{{login_url}}" class="btn btn-warning btn-small"><i class="icon-user icon-white"></i> Login</a>
						{% else %}
							<p>Olá <strong>{{current_user.name}}</strong>
							<a href="{{logout_url}}" class="btn btn-warning btn-small" style="margin:0px;"><i class="icon-user icon-white"></i> Logout</a></p>
						{% endif %}
					</span>
				</div>
			</div>
			
		</div>
	</div>
	{% endmacro %}
	
	{% block nav %}
		{{ navbar() }}
	{% endblock %}
	
	<div class="container">
		<div class="row">

			<div class="span12">
				<img src="/common/static/img/LogoMinhaReuniao.jpg" />
			</div>
		</div>
		
		{% block conteudo %}
		
		<div class="row">
			<div class="span4"><img src="home/static/img/01.png" /></div>
			<div class="span4"><img src="home/static/img/02.png" /></div>
			<div class="span4"><img src="home/static/img/03.png" /></div>
		</div>
		
		<div class="row">
			<div class="span6"><img src="home/static/img/bannerEsquerdo.png" /></div>
			<div class="span6">				
				
				{% if login_url %}
					<a href="{{login_url}}" class="btn btn-warning btn-small"><i class="icon-user icon-white"></i> Login</a>
				{% else %}
				  <img src="home/static/img/bannerDireita.png" />
				  
				  <form class="form-horizontal">

				  <div class="control-group">
				    <label class="control-label form-titulos" for="inputEmail">Título</label>
				    <div class="controls">
				      <input type="text" id="inputEmail" placeholder="Título da reunião" />
				    </div>
				  </div>
				  
				  <div class="control-group">
				    <label class="control-label form-titulos" for="inputEmail">Nome</label>
				    <div class="controls">
				      <input type="text" id="inputEmail" placeholder="Seu nome" />
				    </div>
				  </div>
				  
				  <div class="control-group">
				    <label class="control-label form-titulos" for="inputEmail">Email</label>
				    <div class="controls">
				      <input type="text" id="inputEmail" placeholder="Seu email" />
				    </div>
				  </div>
				  
				  <div class="control-group">
			  		<label class="control-label form-titulos" for="inputEmail">Quando?</label>
					<div class="controls">
		              <input type="text" placeholder="Data" />
		            </div>
          		  </div>
				  
				  <div class="control-group">
				    <label class="control-label form-titulos" for="inputEmail">Que horas?</label>
				    <div class="controls">
				      <input type="text" id="inputEmail" placeholder="Horário" />
				    </div>
				  </div>
				  
				  <div class="control-group">
				    <label class="control-label form-titulos" for="inputEmail">Onde?</label>
				    <div class="controls">
				      <input type="text" id="inputEmail" placeholder="Local" />
				    </div>
				  </div>
				  
				  <div class="control-group">
				    <label class="control-label form-titulos" for="inputEmail">Assuntos?</label>
				    <div class="controls">
				      <textarea rows="6" placeholder="Pauta"></textarea>
				    </div>
				  </div>				  


				  <div class="control-group">
				    <div class="controls">
				      <button type="submit" class="btn btn-large btn-warning"><i class="icon-arrow-right icon-white"></i> Continuar</button>
				    </div>
				  </div>
				</form>
				{% endif %}
				
				
			</div>
		</div>
		{% endblock %}
				
	</div>
	
	<div id="footer" class="special" style="background-color: #847057;">

	{% include "footer.html" %}
			
	</div>

</body>
</html>