{% extends "home.html" %}

{% block nav %}
	{{ navbar("REUNIAO") }}
{% endblock %}

{% block conteudo %}

<div class="row">
			
	<div class="span12">	
	<h1>Resposta</h1>
	
	{% if tipo == "form" %}

		<p>Olá <strong>{{conv.nome}}</strong><p>
		
		<p>Você foi convidado para partcipar da reunião <b>{{reuniao.titulo}}</b> por <b>{{owner.name}}</b></p>		
		
		<p><b>Assunto:</b><br />
		{{reuniao.assunto}}</p>
		
		<p><b>Data e Hora:</b><br />
		{{reuniao.datahora}}</p>
		
		<p><b>Local:</b><br />
		{{reuniao.onde}}</p>
		
		<form action="salvar/{{idC}}" method="post">
		<p><b>Qual vai ser sua resposta?</b><br />
		<select name="situacao">
			<option {{'selected="selected"' if conv.situacao == 1}} value="1">Talvez</option>
			<option {{'selected="selected"' if conv.situacao == 2}} value="2">Eu vou</option>
			<option {{'selected="selected"' if conv.situacao == 3}} value="3">Não vou</option>
		</select>	
		</p>
		
		<p><b>Justificativa:</b><br />
		<textarea name="justificativa" class="span8" rows="5">{{conv.resposta}}</textarea>	
		</p>
		
		<p><input class="btn btn-large btn-warning" type="submit" value="Enviar resposta" /></p>
		</form>

	
	{% else %}

		<h2>Resposta enviada com sucesso</h2>
		
		<p>Você pode alterar a sua resposta pelo link recebido no email</p>
	
	{% endif %}
		
	</div>
	
</div>

{% endblock %}