<div class="container">
	<div class="row">
		<div class="span4">
			<p>&nbsp;</p>
			<p><a href="/">Home</a></p>
			<p><a href="/oque">O que é?</a></p>
			<p><a href="/como">Como funciona?</a></p>	
			<p><a href="/reuniao">Minhas reuniões</a></p>		
			<p><a href="/contato">Contato</a></p>			
		</div>
		<div class="span4">&nbsp;</div>
		<div class="span4">
			<p>&nbsp;</p>
			<p style="text-align: right;"><img src="/common/static/img/logoFatec.png" /></p>
		</div>
	</div>		
</div>