{% extends "home.html" %}

{% block head %}
<script src="/common/static/js/bootstrap-tab.js"></script>
{% endblock %}

{% block nav %}
	{{ navbar("COMO") }}
{% endblock %}

{% block conteudo %}

<div class="row">
		
	<div class="span3">
		<img src="common/static/img/planos.png" />		
	</div>
	
	<div class="span9">
	<h1>Como funciona?</h1>
	
	<p>No menu Inserir, as galerias incluem itens que são projetados para corresponder à aparência
	geral do documento. Você pode usar essas galerias para inserir tabelas, cabeçalhos, rodapés,
	listas, folhas de rosto e outros blocos de construção do documento. Quando você cria imagens,
	gráficos ou diagramas, esses elementos também são coordenados com a aparência atual
	do documento. Você pode alterar facilmente a formatação do texto selecionado no documento
	escolhendo uma aparência para o texto selecionado na galeria Estilos Rápidos,
	na guia Página Inicial.</p>	

	</div>
</div>

{% endblock %}