{% extends "home.html" %}

{% block nav %}
	{{ navbar("OQUE") }}
{% endblock %}

{% block conteudo %}

<div class="row">
		
	<div class="span3">
		<img src="common/static/img/empresa.png" />		
	</div>
	
	<div class="span9">
	<h1>O que é?</h1>
	<p>É um serviço simples e gratuito para agendamento de reuniões através da internet, 
	tem o objetivo de facilitar o contato do moderador com os participantes através de 
	convites via e-mail. O moderador ainda tem acesso a uma área de gerenciamento onde 
	pode acompanhar as respostas e disponibilizar detalhes da reunião.</p>
	<p>Aumente a produtividade das suas reuniões centralizando as informações em um 
	único lugar, com apenas 3 passos você informa e faz os convites para a sua reunião.</p> 
	</div>
</div>

{% endblock %}