{% extends "home.html" %}

{% block nav %}
	{{ navbar("CONTATO") }}
{% endblock %}

{% block conteudo %}

<div class="row">
		
	<div class="span3">
		<img src="common/static/img/contato.png" />		
	</div>
	
	<div class="span9">
	<h1>Contato</h1>
	
	<div class="row">
	
	<div class="span4">
	
	<p class="contato_links"><img src="contato/static/img/facebook.png" />facebook.com/MinhaReuniao</p>
	<p class="contato_links"><img src="contato/static/img/twitter.png" />twitter.com/MinhaReuniao</p>
	<p class="contato_links"><img src="contato/static/img/skype.png" />minhareuniao</p>
	<p class="contato_links"><img src="contato/static/img/email.png" />contato@minhareuniao.com.br</p>
	
	</div>
	
	<div class="span5">
	
	<p>
	<form class="form-horizontal" method="post" action="{{envia_url}}">
	  
	  <div class="control-group">
	    <label class="control-label form-titulos" for="inputEmail">Nome</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" name="nome" placeholder="Seu nome" />
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label form-titulos" for="inputEmail">Email</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" name="email" placeholder="Seu email" />
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label form-titulos" for="inputEmail">Mensagem</label>
	    <div class="controls">
	      <textarea rows="6" name="mensagem" placeholder="Pauta"></textarea>
	    </div>
	  </div>				  


	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-large btn-warning">Enviar</button>
	    </div>
	  </div>
	</form>
	</p>
	</div>
	
	</div>
	
	</div>
</div>

{% endblock %}